@font-face {
  font-family: "aquawax";
  src: url("http://url(http://www.dafont.com/aquawax.font");
  » aquawax.ttf) format("truetype");
}

.backdrop {
  background-color: #000;
  border-radius: 10px;
  opacity: 1;
 }

.back-text {
  background-color: #FFF;
  border-radius: 10px;
  padding: 0;
  margin: 15px;
  opacity: 0.8;
  display: block;
  color: #FFF;
}

.back-text-fade {
  z-index: 1;
  color: #FFF;
  padding: 10px;
}

body {
  background-color: #D3E2E9;
}

.center-button {
  color: #000;
  text-align: center;
}

.center-button:hover {
  color: #6EB0D2;
}

.developer {
 margin: 0 0 0 0;
 background-image: url("https://www.dropbox.com/s/0uzk5m0976h2umr/HolidayInnSuites_Hotel__Suites_Ocean_City_-_Boardwalk_-_971642.jpg?raw=1");
 background-size: cover;
 height: 800px;
 border-bottom: #FFF 5px solid;
 color: #FFF;
 font-size: 24px;
 z-index: 1;
}

.developer-headline {
  color: #FFF;
  font-size: 48px;
  text-align: center;
}

.developer-fade {
  background-color: #000;
  padding: 5px;
  border-radius: 10px;
  opacity: 1;
}

.developer-text {
  padding: 5px;
  text-align: center;
}


.freecodecamp-btn a:hover {
  color: #FFF;
  text-decoration: none;

}

footer {
  background-color: #D3E2E9;
  color: #FFF;
  background-image: url("https://www.dropbox.com/s/jrecoxckjk4092s/10-Ocean-City-Boardwalk.jpg?raw=1");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-text {
  text-align: center;
  padding-top: 10px;
}

header {
  border-bottom: #FFF 5px solid;
  background-image: url("https://www.dropbox.com/s/jrecoxckjk4092s/10-Ocean-City-Boardwalk.jpg?raw=1");
  background-size: cover;
  color: #FFF;
  font-family: "aquawax", sans-serif;
  padding: 10px 0 10px 20px;
}

.icon-tabs {
  margin-top: 100px;
  float: right;
}



.kweku-headline {
  background-image: url("https://www.dropbox.com/s/jrecoxckjk4092s/10-Ocean-City-Boardwalk.jpg?raw=1");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: #FFF 5px solid;
  color: #FFF;
  height: 1000px;
  text-align: center;
}

.kweku-headline h1 {
  font-family: "aquawax", sans-serif;
  font-size: 96px;
}

.kweku-headline p {
  font-size: 32px;
}

.my-skills {
  color: #FFF;
  font-family: "aquawax", sans-serif;
  font-size: 72px;
  text-align: center;
}

.no-text-fade {
  background-color: #000;
  border-radius: 10px;
  opacity: 0.8;
}

.radial-icon {
  border: 5px solid #FFF;
  border-radius: 50%;
  height: 150px;
  width: 150px;

}

.radial-iconbox {
  float: left;
}

.radial-icon-2 {
  border-radius: 50%;
  border: #FFF 10px solid;
}



ul li {
  display: inline;
  padding: 5px;
}

ul a {
  color: #FFF;
}
