@font-face {
  font-family: "aquawax";
  src: url(http://url(http://www.dafont.com/aquawax.font); »
  aquawax.ttf) format("truetype");
}

a {
  text-decoration: none;
  list-style: none;
}



body {
  background-image: url("hallway.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.download-link {
  background-color: yellow;
  color: white;
  border-style: solid;
  border-radius: 15px;
  width: 235px;
  height: 65px;
  text-align: center;
  margin: 30px 0 0 0;
}

.download-link > a {
  color: black;
  text-decoration: underline;
  font-family: "aquawax", sans-serif;
}

.download-link > a:hover {
  color: white;
}

header {
  font-family: "aquawax", sans-serif;
  color: yellow;
  margin-left: 100px;
}

h1 {
  margin: 0 0 0 15px;
}

.info-container {
  margin: 485px 0 0 0;
}

.link-styling {
  color: yellow;
}

nav ul li a {
  color: yellow;
  font-weight: bold;
}

nav ul li a:hover {
    color: white;
}


nav {
  display: inline;
  list-style: none;
  text-decoration: none;
  float: right;
  margin: -45px 25px 0 0;
}

nav:hover {
  color: yellow;
}


.info-container > h2 {
  color: yellow;
}

p {
  color: white;
}


footer {
  text-align: center;
  margin: 100px 0 0 0;
}



ul {
  list-style: none;
}
