a {
  text-decoration: none;
  color: #FFFFFF;
  display: inline;
  list-style-type: none;
}

li {
  display: inline;
  list-style-type: none;
  text-align: left;
  padding-bottom: 75px;
}


body {
  background-color: #C8C8C8;
  margin-top: auto;
}

.container {
  margin: 0 auto;
  font-family: sans-serif;
  color: black;
  background-repeat:no-repeat;
  background-position: top;
  background-size: auto;
  text-align: left;
  border-color: DarkCyan;
  border-style: solid;
  background-image: url("430.png");
  height: 150px;
  background-position: right;
}


.main {
  background-size: cover;
  margin-top: 2%;
  margin-bottom:2%;
  text-align: center;
  background-image: url("afsiva3.jpg");
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  background-repeat: no-repeat;
  border-color: yellow;
  border-style: solid;
}

.main > h1 {
  width: 1240px;
  height: 780px;
  text-align: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.location {
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 100px;
  display: block;
}

main {
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

center-container {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: black;
  bottom: 0
  height: 40px;
}

header {
  margin-top: 0px auto;

}

div {
  margin-top: 5px;
}
