 a {
  text-decoration: none;
  color: white;
  display: inline;
  list-style-type: none;
  padding-right: 5px;
}


body {
  background-color: #628863;
  color: white;
  margin: 0;
  padding: 0;
  font-style: sans-serif;
  line-height: 1.3;
}

.boxform {
  border-style: solid;
  width: 530px;
  height: 280px;
  border-color: #628863;
  margin: 380px 0 50px 280px;
  background-color: #E1D334;
  border-radius: 15px;
  padding-bottom: 10px;
  color: DarkRed;
  opacity: 0.8;
}

button:hover {
  background-color: DarkCyan;
  max-height: 100%;
  color: yellow;
  border-color: DarkCyan
  border-radius: 10px
  padding: 2px 2px 2px 2px;
  text-shadow: 0px 1px 1px #ffffff;

}

.center-container {
  margin-top: 625px;
  border-style: solid;
  border-color: #E1D334;
  border-width: thick;
  text-align: center;
}

.container {
  font-family: sans-serif;
  padding: 0;
  spacing: 0;
}

footer {
  text-align: center;
  margin-top: 40px;
  bottom: 0;
  height: 40px;
}


h3.no-spacing {
  padding: 0;
  margin: 0;
}

header {
  background-repeat:no-repeat;
  text-align: right;
  background-image: url("430.png");
  max-width: 100%;
  height: 150px;
  background-position: left;
  border-bottom: 5px solid DarkRed;
  padding: 0;
  spacing: 0;
  background-size: contain;

}


hr {
  margin-right: 50px;
  max-width: 100%;
}



.left-container {
  float: left;
  text-align: left;
  width: 530px;
  height: 500px;
  padding: 5px 5px 5px 5px;
  margin: 0 0 0 120px;
}

.left-container > h2 {
text-align: center;
}

.left-container > img {
  border-radius: 15px;
  height: auto;
  max-width: 100%;
  border: solid #E1D334;
}

li {
  display: inline;
  list-style-type: none;
  text-align: left;
  padding-bottom: 75px
  margin-top: 20px;

}

.main {
  background-size: cover;
  text-align: center;
  background-image: url("afsiva3.jpg");
  padding: 0;
  background-repeat: no-repeat;
  border-color: #E1D334;
  border-style: solid;
  background-position: center;
  border-radius: 5px;
  margin-top: 0;
  border-left-style: none;
  border-right-style: none;
  width: 100%
}


nav {
  padding-top: 15px;
  padding-right: 15px;
}

nav:hover {
  background-color: DarkRed;
}

.right-container {
  float: right;
  text-align: left;
  padding: 5px 5px 5px 5px;
  width: 530px;
  margin: 96px 180px 0 0;
  height: 500px;
}

.right-container > h2 {
  text-align: center;
}

.right-container > img {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
  border: solid #E1D334;
}

.side-containers {
  width: 100%
}


ul.no-spacing {
 padding: 0;
 margin: 0;
}

/* Make HTML 5 elements display block-level for consistent styling */
header, nav, footer {
    display: block;
}


/* Media Queries for smartphone devices */
@media screen and (max-width: 400px) {

body {
  width: 100%;
}


.boxform {
    border-style: solid;
    width: 48.17073171%;
    height: 35.36585366%;
    border-color: #628863;
    margin: 46.34146341% 0 6.09756098% 8.53658537%;
    background-color: #E1D334;
    border-radius: 15px;
    padding-bottom: 1.2195122%;
    color: DarkRed;
    opacity: 0.8;

}

.center-container {
  margin-top: 10.75%;
  border-style: solid;
  border-color: #E1D334;
  border-width: thick;
  text-align: center;
}

.container {
  max-width: 100%;
}

.left-container {
  float: none;
  width: 66.66666667%;
  height: 60.60606061%;
  margin-left: 15%;
}


.right-container {
    width: 66.18%;
    margin: 0.9% 16.36% 0 16%;
    height: 60.60%;
}

.side-containers {
  float: none;
}

.main {
  width: 100%
}

header {
  height: 135px;
}

img {
  max-width: 100%;
  height: auto;
}

}

@media screen and (max-width: 800px) {
  body {
    width: 825px;
  }

  .boxform {
      border-style: solid;
      width: 48.17073171%;
      height: 35.36585366%;
      border-color: #628863;
      margin: 46.34146341% 0 6.09756098% 8.53658537%;
      background-color: #E1D334;
      border-radius: 15px;
      padding-bottom: 1.2195122%;
      color: DarkRed;
      opacity: 0.8;
}

.center-container {
  margin-top: 10.75%;
  border-style: solid;
  border-color: #E1D334;
  border-width: thick;
  text-align: center;
}

.left-container {
  float: none;
  width: 66.66666667%;
  height: 60.60606061%;
  margin-left: 15%;
}

.side-containers {
  float: none;
}

.right-container {
  float: none;
  width: 66.18%;
  margin: 0.9% 16.36% 0 16%;
  height: 60.60%;
}

header {
  height: 16.36%;
}

img {
  max-width: 100%
  height: auto;
}

}

@media screen and (max-width: 1400px) {
  body {
    width: 1400px;
  }

  img {
    max-width: 100%
    height: auto;
  }
}
