.container {
  width:1080px
  border: 100px 25px 100px 25px;
  font-family: sans-serif;
  color: black;
  margin: 360px 180px 120px 180px;
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  height: 1024px;
  text-align: center;
  background-color: white;
  }


.main {
  background-size: cover;
  margin-top: 2%;
  margin-bottom:2%;
  text-align: center;
  background-image: url("afsiva3.jpg");
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  background-repeat: no-repeat;
  border-color: yellow;
  border-style: solid;
}

.main > h1 {
  width: 1240px;
  height: 780px;
  text-align: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}


}

.location {
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 100px;
  display: block;
}

.list > header {
text-decoration: none;
text-decoration-color: black;
}


h1 {
  color: white;
}

center-container {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: black;
  bottom: 0
  height: 40px;
}

header {
  text-decoration: none;
  text-decoration-color: black;
  margin-top: 360px;
}
